.container {
    overflow-y: hidden;
  // sizing
  width: 100%;
  height: 100vh;

  // display
  display: flex;

  .left-content {
    // sizing
    width: 50%;
    height: 100vh;
    position: relative;

    // display
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        position: absolute;
        top: 14px;
        font-weight: 700;
        left: 20px;
        color: #808194;
    }

    mat-card {
      width: 60%;
    }
  }

  .right-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;

    & > img {
        height: 100%;
        width: 100%;
    }
  }
}

.google {
  // sizing
  width: 100%;

  // Font Styles
  font-size: 0.8rem;

  margin-bottom: 18px;
}

.btn-icon {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translate(10px, -50%);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center;

  margin-bottom: 18px;
}

.mat-mdc-card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
}

.linea {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  font-family: "Lato";
  position: relative;
  margin-bottom: 40px;
  z-index: 1;
}
.linea::before {
  border-top: 2px solid #e0e0e5;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.linea span {
  background-color: white;
  padding: 0px 16px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-control {
    width: 100%;
  }

  .ckbx-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    & > span > a {
      color: black;
      text-decoration: none;
      font-weight: 800;
      border-bottom: 1.5px solid #4f90f0;
    }
  }

  .btn-log-in {
    margin-bottom: 18px;
    width: -webkit-fill-available;
  }

  .create-account {
    width: -webkit-fill-available;
    margin-bottom: 18px;
    & > a {
      font-weight: 800;
      border-bottom: 1.5px solid #4f90f0;
      text-decoration: none;
    }
  }
}
