<main class="container">
    <!-- Container for Left Content (Form) -->
    <div class="left-content">
        <h2 class="title">Your Logo</h2>
        <!-- Form Card -->
        <mat-card class="card-container">
            <mat-card-header>
                <mat-card-title>Log in to your account</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- Google Sign In -->
                <button mat-stroked-button class="google">
                    <i class="btn-icon"><img src="../../assets/Google.svg" alt=""></i>
                    <span>
                        Sig in with Google
                    </span>
                </button>
                <!-- line -->
                <p class="linea">
                    <span>or</span>
                </p>
                <!-- form -->
                <form>
                    <mat-form-field class="form-control">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput>
                        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- Checkbox -->
                    <div class="ckbx-container">
                        <mat-checkbox>
                            Remember me
                        </mat-checkbox>

                        <span><a href="">forgot password?</a></span>
                    </div>
                    <!-- Button Log In -->
                    <button mat-raised-button color="primary" class="btn-log-in">Log In</button>
                    <span class="create-account">Don't have an account? <a>Create</a></span>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Container for Right Content (Image) -->
    <div class="right-content">
        <img src="../../assets/gradient.svg" alt="">
    </div>
</main>